[Unit]
Description=Bidder Spring Boot
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/bidder
Environment="SPRING_PROFILES_ACTIVE=prod"
ExecStart=/usr/bin/java -jar /opt/bidder/bidder.jar
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
